index.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MOBILE-SHOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MOBILE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="Brand" type="xs:string" />
              <xs:element name="Modle" type="xs:string" />
              <xs:element name="price" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>